:root {
    --primary-color: #43552A;
    --secondary-color: #F4F4F4;
    --accent1-color: #550000;
    --accent2-color: #770000;
    --background-color: #FFFFFF;
    --font-color: #333333;
    --font-family: 'Roboto', sans-serif;
    --font-size: 1rem;
    --line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
    background-color: var(--background-color);
}

/* Header styles */
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
    background-color: var(--secondary-color);
    width: 100%;
}

header .logo {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    fill: var(--primary-color);
    stroke: var(--primary-color);
}

header span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

/* Hamburger styles */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* Navigation styles */
.navigation {
    display: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .8rem 1rem;
    color: var(--secondary-color);
    text-decoration: none;
}

.navigation li.active a {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border-right: 0;
    border-left: 0;
    border-top: solid 1px var(--primary-color);
    border-bottom: solid 1px var(--primary-color);
}

.navigation a:hover {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

main {
    background-color: var(--secondary-color);
    width: 100%;
}

/* Footer styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 100%;
}

footer .social-links {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: solid 1px var(--background-color);
    border-radius: 4px;
}

footer .social-links a:hover {
    background-color: var(--accent1-color);
    text-decoration: none;
}

footer .social-links img {
    width: 24px;
    height: 24px;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

footer div p a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer div p a:hover {
    text-decoration: underline;
}

/* Page Styles */
section h1.page-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--primary-color);
}

section .directory-links {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 6px;
}

section .directory-links button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: solid 1px var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}

section .directory-links button:hover {
    background-color: var(--accent1-color);
    text-decoration: none;
}

section .directory-links button.active {
    background-color: var(--accent1-color);
    text-decoration: none;
}

section .directory-links img {
    width: 24px;
    height: 24px;
}

/* Card Styles */
.card {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: solid 1px var(--secondary-color);
    border-radius: 4px;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card h2 {
    font-size: 1.25rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
}

.card img {
    height: auto;
    border-radius: 4px;
    object-fit: contain;
    width: 200px;
    padding-bottom: 1rem;
    display: block;
    margin: 0 auto;
}

.card p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--font-color);
    margin: 0.25rem 0;
    text-align: center;
    font-weight: bold;
}

/* Directory Section */
#directory-section {
    margin: 1rem 0;
}

#directory-section.grid-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

#directory-section.list-view {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#directory-section.list-view .card {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}

#directory-section.list-view .card:nth-child(even) {
    background-color: var(--secondary-color);
}

#directory-section.list-view .card h2 {
    font-size: 1rem;
    background-color: transparent;
    color: var(--primary-color);
}

#directory-section.list-view .card img {
    display: none;
}

#directory-section.list-view .card p {
    padding: .5rem;
}

#directory-section.list-view .card p.tagline {
    display: none;
}

#directory-section .card a {
    color: var(--primary-color);
    text-decoration: none;
}

#directory-section .card a:hover {
    text-decoration: underline;
}

/* Home Styles */
main section .hero-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#home-section {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

#home-section .card.events p {
    text-align: left;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

#home-section .card.events p:nth-child(odd) {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

/* Weather Styles */
#home-section #weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#home-section #weather-info img {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
}

#home-section #weather-info div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-section #weather-info img {
    width: 100px;
    height: 100px;
}

#home-section #weather-info p {
    text-align: left;
    font-size: 1rem;
    ;
}

/* Forecast Styles */
#home-section .forecast {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#home-section .forecast p {
    margin: 0.5rem 0;
    font-size: 1rem;
    ;
}

/* Spotlight Styles */
#home-section .spotlight-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

#home-section .spotlight-details img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 0;
}

#home-section .spotlight-details div {
    flex-grow: 1;
    align-items: center;
}

#home-section .spotlight-details p {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    text-align: left;
}

#home-section .spotlight-details a {
    color: var(--primary-color);
    text-decoration: none;
}

#home-section .spotlight-details a:hover {
    text-decoration: underline;
}

/* Hero Section Styles */
.hero-section {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

main section .hero-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--background-color);
    background-color: rgba(67, 85, 42, 0.8);
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero-overlay h1 {
    font-size: .75rem;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    color: var(--background-color);
    display: none;
}

.hero-overlay p {
    font-size: .65rem;
    margin: 0 0 1rem 0;
    color: var(--background-color);
    display: none;
}

.cta-button {
    display: inline-block;
    background-color: var(--accent1-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--accent2-color);
    text-decoration: none;
}