/* styles.css for Roseburg Volunteer Network */
:root {
    --primary-color: #1B5E20;
    --secondary-color: #FFFFFF;
    --accent1-color: #a0dbf7;
    --accent2-color: #39a7d1;
    --background-color: #E7F5F7;
    --font-color: #333333;
    --font-color-alt: #FFFFFF;
    --border-color: #E0E0E0;
    --font-family: 'Roboto', sans-serif;
    --font-family-alt: 'Open Sans', sans-serif;
    --font-size: 1rem;
    --line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 1rem;
    margin: 0;
    max-width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 44px auto 44px;
    ;
    column-gap: 1rem;
}

header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: var(--font-color-alt);
    cursor: pointer;
    display: block;
}

.logo {
    display: block;
    width: 44px;
    height: auto;
    padding: 1rem 0;
}

.logo-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: auto;
}

.nav-links {
    grid-column-start: 1;
    grid-column-end: 4;
    display: none;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    width: auto;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
}

.nav-links li {
    margin: 1rem;
    width: auto;
}

.nav-links li.active {
    border-bottom: 2px solid var(--accent1-color);
}

.nav-links li:hover {
    border-bottom: 2px solid var(--accent1-color);
}

.nav-links a {
    color: var(--accent1-color);
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

h1 {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2em;
    margin: 0;
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.5em;
    margin: 0 0 10px;
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--font-color);
    margin: 5px 0;
}

.cta-button {
    background-color: var(--accent1-color);
    color: var(--font-color);
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: var(--accent2-color);
}

.hero-content {
    border-radius: 8px;
}

.hero-content h1 {
    font-size: 1.25rem;
}

.content {
    display: grid;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.opportunity-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.opportunity-content h2 {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}

#featured-event-content h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.5rem;
    ;
    color: var(--font-color);
    margin-bottom: 10px;
    text-align: center;
}

#featured-event-content p {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--font-color);
    margin-bottom: 10px;
    text-align: center;
}

.featured-event,
.weather,
.community-spotlight {
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
}

.featured-event h2,
.weather h2,
.community-spotlight h2 {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.featured-event img,
.weather img,
.community-spotlight img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.weather img {
    max-height: 100px;
    object-fit: contain;
}

.weather-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.weather-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.weather-card p {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--font-color);
    font-size: 1em;
}

.spotlight-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.spotlight-images img {
    flex: 1;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.event-card {
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: transform 0.2s;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.event-card h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 10px 0;
    text-align: center;
}

.event-card p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1em;
    color: var(--font-color);
    margin: 5px 0;
    text-align: center;
}

.filter-section {
    padding: 20px;
    text-align: center;
}

.filter-section select {
    padding: 5px;
    font-family: var(--font-family);
    font-size: 1em;
}

.modal {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-container {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--border-color);
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
    border-radius: 8px;
}

.modal-content {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.close button {
    background-color: var(--primary-color);
    color: var(--font-color-alt);
    padding: .75rem;
    margin: 1rem;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    border-radius: 4px;
    display: block;
    margin: 1rem auto 0;
}

.close:hover {
    color: var(--primary-color);
}

#modal-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

#modal-impact {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--font-color);
    margin: 10px 0;
}

#modal-description {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--font-color);
    margin: 10px 0;
}

#modal-title {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}

.join-section,
.confirmation-section,
.about-section {
    padding: 20px;
    text-align: center;
}

.about-content {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

label {
    margin-top: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    text-align: left;
}

.required {
    color: red;
}
.radio-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

input,
select,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-family: var(--font-family);
    font-size: 1em;
}

input[type="radio"] {
    margin: 0;
}

button[type="submit"] {
    background-color: var(--accent1-color);
    color: var(--font-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
}

button[type="submit"]:hover {
    background-color: var(--accent2-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--font-color-alt);
    padding: 10px;
    text-align: center;
}

footer p {
    color: var(--font-color-alt);
}

.last-visit {
    display: block;
    margin-top: 1rem;
}

footer a {
    color: var(--accent1-color);
    font-family: var(--font-family-alt);
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border: 1px solid var(--border-color);
}

.join-section fieldset {
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}