@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto 0 10px;
    }
    
    header {
        grid-template-columns: 44px auto;
    }

    .hamburger {
        display: none;
    }    

    /* Navigation styles */
    .navigation {
        display: block;   
        border-bottom: solid 1px var(--secondary-color);
    }

    .navigation ul {
        display: flex;
    }

    /* card styles */
    .card {
        flex-direction: column;
        flex: 1;
        /* margin: 0 0.5rem; */
    }

    .card:first-child {
        margin-left: 0.5rem;
    }

    .card:last-child {
        margin-right: 0.5rem;
    }

    .card h2 {
        font-size: 1.5rem;
        background-color: var(--secondary-color);
        color: var(--background-color);
        margin: 0 0 0.5rem;
        padding: 0.5rem;
        border-radius: 4px;
    }

    .card img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }

    /* Course Styles */
    .course-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }
    
    .course {
        flex: 1 1 calc(33.333% - 0.67rem);
        max-width: calc(33.333% - 0.67rem);
        margin: 0;
    }
}